.attendance-index__title {
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.attendance-index__date-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  gap: 1rem;
  margin-bottom: 2rem;
  border-radius: 6px;
  background-color: #fff;
}

.attendance-index__date-button {
  background: none;
  border: none;
  color: #737373;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.attendance-index__date {
  font-size: 1.2rem;
  font-weight: bold;
}

.attendance-index__table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
  background-color: #fff;
  border-radius: 6px;
}

.attendance-index__th {
  text-align: left;
  padding: 0.8rem;
  color: #737373;
  border-bottom: 2px solid #ccc;
}

.attendance-index__td {
  padding: 0.8rem;
  color: #737373;
  border-bottom: 1px solid #ccc;
}

.attendance-index__link {
  color: #000;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}